body {
    background-color: #DADADA;
    padding-top: 70px;
}

body > .grid {
    height: 100%;
}

.image {
    margin-top: -100px;
}

.column {
    max-width: 450px;
}

.sensors .space {
    height: 10px;
}

.sensors .left-placed {
    float: left;
}

.sensors .value {
    font-size: 19px;
    font-weight: bold;
}

.humidity {
    font-size: 66px;
    text-align: center;
    margin-top: 12px;
}

.humidity .icon, .pressure .icon {
    font-size: 16px;
}

.icon.up {
    color: #db2828;
}

.icon.down {
    color: #21ba45;
}

.pressure {
    font-size: 45px;
}

.graph {
}

.sensors .ui.segment.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.photo-margin {
    margin: 10px 0 20px 0;
}

.ui.text.container {
}


