<!--<div class="ui link cards">
    <div class="card">
        <div class="content">
            <a class="ui teal tag label">Temperature</a>
            <div class="ui huge header">{{sensorData?.temperature}} °C</div>
        </div>
        <div class="extra content">
<span class="right floated">
{{sensorData?.timestamp | unicodeToDate | date:'HH:mm:ss'}}
</span>
<span>
<i class="wait icon"></i>
last update
</span>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <a class="ui olive tag label">Humidity</a>
            <div class="ui huge header">{{sensorData?.humidity}}%</div>
        </div>
        <div class="extra content">
<span class="right floated">
{{sensorData?.timestamp | unicodeToDate | date:'HH:mm:ss'}}
</span>
<span>
<i class="wait icon"></i>
last update
</span>
        </div>
    </div>
</div>-->
<h2 class="ui center aligned icon header">
    <i class="circular sun icon"></i>
    meteostanica
</h2>

<div class="ui two column stackable grid container">
    <div class="left aligned column">
        <div class="ui segment">
            <div class="space"></div>
            <div class="ui blue segment right aligned" *ngFor="#item of sensorData?.temperature; #i = index">
                <i class="home icon left-placed"></i><span class="value">{{item?.value|digits}}</span> °C
            </div>
            <div class="ui secondary blue top attached label">Temperature</div>
        </div>
        <div class="ui blue label">
            <i class="sun icon"></i>
            Light
            <div class="detail">{{sensorData?.light|digits}}</div>
            lx
        </div>
        <div class="ui blue label">
            <i class="refresh icon"></i>
            <div class="detail">{{sensorData?.timestamp | unicodeToDate | date:'HH:mm:ss'}}</div>
        </div>
    </div>
    <div class="left aligned column">
        <div class="ui segment">
            <div class="humidity">{{sensorData?.humidity|digits}} %</div>
            <div class="ui secondary yellow top attached label">Humidity</div>
        </div>
        <div class="ui segment">
            <div class="pressure humidity"> {{sensorData?.pressure|digits}} hPa</div>
            <div class="graph"></div>
            <div class="ui secondary yellow top attached label">Pressure</div>
        </div>
    </div>
</div>

chart:
<line-chart-demo></line-chart-demo>
